<div class="tabs-container">
  <nav class="tabs">
    <a class="tabs__tab tabs__tab--active">Foods</a>
    <a class="tabs__tab">Recipes</a>
  </nav>

  <nav class="tabs">
    <a class="tabs__tab">Foods</a>
    <a class="tabs__tab tabs__tab--active">Recipes</a>
  </nav>
</div>

<!-- <body>
  <nav class="grid-container">
    <div class="food-active">
      <p>Food</p>
    </div>
    <div class="recipes-inactive">
      <p>Recipes</p>
    </div>
  </nav>

  <section class="grid-container">
    <div class="food-inactive">
      <p>Food</p>
    </div>
    <div class="recipes-active">
      <p>Recipes</p>
    </div>
  </section>
</body> -->
