@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

body {
  font-family: var(--font-family);
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "food recipes";
  width: 19.5rem;
  height: 3rem;
  margin: 1rem;
}

.food-active {
  display: grid;
  grid-area: food;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  justify-content: center;
  border-radius: 16px 0px 0px 16px;
}

.food-inactive {
  display: grid;
  grid-area: food;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  justify-content: center;
  border-radius: 16px 0px 0px 16px;
}

.recipes-active {
  display: grid;
  grid-area: recipes;
  background: var(--color-secondary);
  color: var(--color-primary);
  justify-content: center;
  border-radius: 0px 16px 16px 0px;
}

.recipes-inactive {
  display: grid;
  grid-area: recipes;
  background: var(--color-primary);
  color: var(--color-secondary);
  justify-content: center;
  border-radius: 0px 16px 16px 0px;
}

:root {
  --font-family: "Signika", sans-serif;
  --color-primary: #fff8ee;
  --color-secondary: #ff9385;
}
