.favorite-card {
  font-family: "Signika Negative", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  display: flex;
  position: absolute;
  background-color: #fff2f0;
  width: 132px;
  height: 144px;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 28px;
  top: 100px;
  gap: 12px;
}

.favorite-card2 {
  font-family: "Signika Negative", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  display: flex;
  position: absolute;
  background-color: #eff7ee;
  width: 132px;
  height: 144px;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 176px;
  top: 100px;
  gap: 12px;
}
