.cards-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
}

.favorite-card--fruits {
  background-color: #fff2f0;
}

.favorite-card--vegetables {
  background-color: #eff7ee;
}

.favorite-card {
  display: grid;
  width: 8.5rem;
  height: 9rem;
  border-radius: 20%;
  justify-items: center;
  align-content: center;
}

.favorite-card--snacks {
  background: #fff8eb;
}

.favorite-card__inner {
  display: grid;
  justify-items: center;
  row-gap: 0.8rem;
}
